<% include header.ejs %>

<div class="tabs is-medium">
    <ul>
        <li class="is-active"><a>จัดการข้อมูล</a></li>
    </ul>
</div>

<div class="wrapper-content">

<div class="columns">

<div class="column is-one-quarter">
<% include modules/infomation.ejs %>
</div>

<div class="column is-three-quarters">
<% include modules/posts.ejs %>
</div>

</div>

</div>

<% include footer.ejs %>

