.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper-content {
    padding: 40px;
}

.field {
    margin: 40px 0;
    margin-bottom: 0;
}

.image.is-4by3 {
    padding: 0 !important;
}

img {
    height: auto !important;
    position: relative !important;
}